<div class="row justify-content-center">
  <div
    *ngFor="let character of characters"
    class="card m-2 customCard ">

    <img
      class="card-img-top"
      [src]="imgRoot + character.img_src"
      alt="Character image: {{ character.name }}">

    <div class="card-body">
      <h5 class="card-title">{{ character.name }}</h5>
      <h6 class="card-text">{{ character.show }}</h6>
    </div>

    <div class="card-footer text-right">
      <button
        class="btn btn-sm btn-dark"
        (click)="open(character)">
        View Details
      </button>
    </div>
  </div>
</div>
