/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

h6 {
  font-weight: normal;
  font-style: italic;
}

.largeFont {
  font-size: large;
}

.largerFont {
  font-size: larger;
}

.customCard {
  width: 18rem;
  display: inline-block;
}
